body{
    font-family: "Quicksand", sans-serif;
}
.container {
    overflow: hidden;
}
.filterDiv {
  display: none; /* Hidden by default */
} 
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
.img1{
  background-image: url("images/mobilewithplug.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 800px;
  width: 500px;
  position: fixed;
  top: 30px;
  left: -100px;
  z-index: -1;
}
.img2{
  background-image: url("images/headphone.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 800px;
  width: 500px;
  position: fixed;
  z-index: -1;
  top: 40px;
  right: -90px;
}

@media (max-width: 70em){
  .img1,.img2{
    display: none;
  }
  p.carousel-text{
    font-size: 20px;
    position: absolute;
    top: 10px;
  }
  .footer{
    background-color: #3b44ff;
    color: white;
  }
  .carousels{
    display: none;
  }
  .container{
    display: block;
  }
}